*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

:root{
    --PagebgColor:rgb(0, 0, 0);
    --moreLinksFont:14px;
    --linksHoverColor:rgb(231, 201, 69);
}

.inputElements  #forgetTopInfo{
    color: var(--linksHoverColor);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

span#details{
    font-size: 12px;
}

.form h1{
    color: white;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--PagebgColor);
}

@media only screen and (max-width:450px) {
    .container{
        max-width: 45vh !important;
        height: 60% !important;
    }
}

.container{
    width: 400px;
    height: 300px;
    max-width: 100vh;
    max-height: 100vh;
    position: relative;
}

.container .form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form .inputElements{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputElements input{
    width: 200px;
    height: 35px;
    margin: 7px 0;
    border-radius: 10px;
    padding: 5px;
}

input,button{
    border: none;
    outline: none;
}

.form button{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.form button:hover ~ .borders{
    border-color: var(--linksHoverColor);
    transform: translate(0,0) !important;
}


.form .moreLinks a{
    font-size: var(--moreLinksFont);
    margin: 0 10px;
    transition: 0.5s;
    font-weight: bold;
    color: white;
}
.form .moreLinks a:hover{
    color: var(--linksHoverColor);
    transition: 0.5s;
}


.inputElements input:focus ~ #Tleft{
    transform: translate(-10px,-10px);
    transition: all 0.3s;
}

.inputElements input:focus ~ #Bleft{
    transform: translate(-10px,10px);
    transition: all 0.3s;
}
.inputElements input:focus ~ #Bleft{
    transform: translate(-10px,10px);
    transition: all 0.3s;
}

.inputElements input:focus ~ #TRight{
    transform: translate(10px,-10px);
    transition: all 0.3s;
}
.inputElements input:focus ~ #RBtoom{
    transform: translate(10px,10px);
    transition: all 0.3s;
}


.borders{
    position: absolute;
    width: 40px;
    height: 35px;
    color: white;
    border: 3px solid white;
    transition: all 0.3s;
}

.container #Tleft{
    top: 0%;
    left: 0%;
    border-bottom: none;
    border-right: none;
}

.container #Bleft{
    top: 100%;
    left: 0%;
    border-top: none;
    border-right: none;
}

.container #TRight{
    top: 0%;
    right: 0%;
    border-left: none;
    border-bottom: none;
}

.container #RBtoom{
    top: 100%;
    right: 0%;
    border-left: none;
    border-top: none;
}